*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	font-family: ;
}
body{
	background: url(../img/background1.jpg);
	background-repeat: repeat;
}
/*=============================================
CABEZOTE
=============================================*/
#naveg{
	position: relative;
	margin: auto;
	width: 1200px;
	height: 134px;
}
#naveg header{
	position: relative;
	margin: auto;
	width: 1200px;
	height: 134px;
	background: #ffffff;
}
#logo{
	position: absolute;
	top: 69px;
	left: 67px;
	width: 123px;
	height: 22px;
}
/*=============================================
BARRA DE NAVEGACION
=============================================*/
#naveg nav ul{
	position: relative;
	top: -65px;
	left: 500px;
	width: 700px;
}
#naveg nav ul li{
	position: relative;
	float: left;
	text-align: center;
	margin: 2px 42px;
	font-size: 14px;
	color: #5e5e5e;
}
/*=============================================
SLIDE
=============================================*/
#slide{
	position: relative;
	margin: auto;
	width: 1200px;
	height: 576px;
	background: #ffffff;
}
#slide img{
	position: relative;
	top: 29px;
	left: 70px;
	width: 1061px;
	height: 509px;
}
/*=============================================
PARRAFO
=============================================*/
#paragrhap{
	position: relative;
	margin: auto;
	width: 1200px;
	height: 377px;
	background: #ffffff;	
}
#paragrhap article{
	position: absolute;
	width: 1200px;
	height: 377px;
}
#paragrhap article h3{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	margin: 56px 151px;
	color: #d8d7d5;
}
#paragrhap article h1{
	font-family: kepler-std-semicondensed-dis, serif;
	font-weight: 700;
	font-style: normal;
	font-size: 38px;
	margin: -40px 151px;
}
#paragrhap article p{
	font-family: kepler-std-semicondensed-dis, serif;
	font-weight: 700;
	font-style: normal;
	text-align: justify;
	font-size: 18px;
	margin: 68px 151px;
	color: #555555;
}
/*=============================================
TITULO
=============================================*/
#titule{
	position: relative;
	margin: auto;
	width: 1200px;
	height: 60px;
	background: #ffffff;
}
#titule ul{
	position: relative;
	width: 890px;
	height: 20px;
	color: #c9cac5;
	font-size: 12px;
	font-weight: 100;
	top: 19px;
	left: 150px;
}
/*=============================================
SECCION
=============================================*/
section{
	position: relative;
	margin: auto;
	width: 1200px;
	height: 1317px;
	background: #ffffff;
}
section ul{
	position: relative;
	top: 40px;
	left: 75px;
	width: 1050px;
	height: 1200px;
}
section ul li{
	position: relative;
	float: left;
	top: 7px;
	left: 44px;
	margin: 60px 30px;
	width: 421px;
	height: 490px;
}
section ul li img{
	position: relative;
	width: 421px;
	height: 280px;
}
section article {
	margin: 2px 0px;
}
section ul li h3{
	color: #d8d7d5;
	font-size: 14px;
	font-family: 'Source Sans Pro', sans-serif;
}
section ul li h1{
	font-size: 35px;
	color: #5f5f5f;
	font-weight: 100;
	font-family: kepler-std-semicondensed-dis, serif;
	font-weight: 700;
	font-style: normal;
	text-align: justify;
}
section ul li p{
	font-size: 18px;
	font-family: kepler-std-semicondensed-dis, serif;
	font-weight: 700;
	font-style: normal;
	text-align: justify;
	color: #555555;
}
/*=============================================
BOTTOM
=============================================*/
#bottom{
	position: relative;
	margin: auto;
	width: 1200px;
	height: 287px;
	background: #f3f3f3;
}
#bottom article{
	position: relative;
	top: 59px;
	left: 383px;
	width: 430px;
	height: 175px;
	text-align: center;
	font-size: 27px;
	font-family: kepler-std-semicondensed-dis, serif;
	font-weight: 700;
	font-style: normal;
}
#bottom article hr{
	position: relative;
	top: 40px;
	border-color: black;
}
#bottom article form{
	position: relative;
	width: 400px;
	height: 40px;
	top: 67px;
	left: 18px;
}
#bottom article form input#email{
	position: absolute;
	top: 10px;
	left: 0px;
	width: 362px;
	height: 30px;
	font-size: 15px;
	color: #7f7f7f;
	border: 0px;
	background: #f3f3f3;
}
#bottom article form input#enviar{
	position: absolute;
	top: 13px;
	left: 367px;
	width: 33px;
	height: 19px;
	border: 0px;
	background: url(../img/flechaenviar.jpg);
}
/*=============================================
BOTTEM
=============================================*/
#bottem{
	position: relative;
	margin: auto;
	width: 1200px;
	height: 648px;
	background: #ffffff;
}
#bottem ul{
	position: relative;
	top: 40px;
	left: 75px;
	width: 1050px;
	height: 608px;
}
#bottem ul li{
	position: relative;
	float: left;
	top: 7px;
	left: 44px;
	margin: 60px 30px;
	width: 421px;
	height: 490px;
}
#bottem ul li img{
	position: relative;
	width: 421px;
	height: 280px;
}
#bottem article {
	margin: 2px 0px;
}
#bottem ul li h3{
	color: #d8d7d5;
	font-size: 14px;
	font-family: 'Source Sans Pro', sans-serif;
}
#bottem ul li h1{
	font-size: 35px;
	color: #5f5f5f;
	font-weight: 100;
	font-family: kepler-std-semicondensed-dis, serif;
	font-weight: 700;
	font-style: normal;
	text-align: justify;
}
#bottem ul li p{
	font-size: 18px;
	font-family: kepler-std-semicondensed-dis, serif;
	font-weight: 700;
	font-style: normal;
	text-align: justify;
	color: #555555;
}
/*=============================================
BOTON
=============================================*/
#boton{
	position: relative;
	margin: auto;
	width: 1200px;
	height: 256px;
	background: #ffffff;
}
#boton button{
	position: relative;
	top: 98px;
	left: 516px;
	font-size: 20px;
	width: 164px;
	height: 60px;
	background: #ffffff;
	color: #929191;
	border: 1px solid #535353;
}
/*=============================================
FOOTER
=============================================*/
footer{
	position: relative;
	margin: auto;
	width: 1200px;
	height: 99px;
	background: #f3f3f3;
}
footer ul{
	position: relative;
	width: 202px;
	height: 20px;
	font-size: 16px;
	top: 37px;
	left: 150px;
}
footer ul#ti{
	position: absolute;
	width: 50px;
	height: 20px;
	top: 37px;
	left: 987px;

}
footer ul#inc{
	position: absolute;
	width: 188px;
	height: 20px;
	top: 37px;
	left: 969px;
}
footer ul#inc li{
	position: relative;
	float: left;
	width: 20px;
	height: 15px;
	left: 72px;
	margin: 1px 6px;
}
footer ul#inc li:first-child{background: url(../img/inc1.jpg);
	background-size: cover;
}
footer ul#inc li:nth-child(2){background: url(../img/inc2.jpg);
	background-size: cover;
}
footer ul#inc li:last-child{background: url(../img/inc3.jpg);
	background-size: cover;
}
footer ul#inc li a{float: left;
	width: 20px;
	height: 15px;
}