*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	font-family: ;
}
body{
	background: url(../img/back2.jpg);
	background-position: top center;
	height: 1200px;
}
/*=============================================
CABEZOTE
=============================================*/
header{
	position: relative;
	margin: auto;
	width: 1200px;
	height: 134px;
	background: rgba(255,0,0,.5);
	/*background: #ffffff;*/
}
#logo{
	position: absolute;
	top: 69px;
	left: 67px;
	width: 123px;
	height: 22px;
	background: rgba(0,0,255,.5);
}
/*=============================================
BARRA DE NAVEGACION
=============================================*/
nav{
	position: relative;
	margin: auto;
	width: 1200px;
	height: 134px;
	background: rgba(0,255,0,.5);
}
nav ul{
	position: relative;
	top: 70px;
	left: 500px;
	width: 700px;
	height: 19px;
	background: rgba(300,0,0,.5);
}
nav ul li{
	position: relative;
	float: left;
	text-align: center;
	margin: 2px 42px;
	width: 90px;
	height: 15px;
	font-size: 14px;
	background: rgba(0,300,0,.5);
}
/*=============================================
SLIDE
=============================================*/
#slide{
	position: relative;
	margin: auto;
	width: 1200px;
	height: 576px;
	background: rgba(0,0,300,.5);
	/*background: #ffffff;*/
}
#slide ul{
	position: relative;
	top: 29px;
	left: 70px;
	width: 1061px;
	height: 509px;
}
/*=============================================
PARRAFO
=============================================*/
#paragrhap{
	position: relative;
	margin: auto;
	width: 1200px;
	height: 445px;
	background: rgba(100,100,0,.5);
	/*background: #ffffff;*/
}
#paragrhap ul{
	position: relative;
	top: 60px;
	left: 147px;
	width: 910px;
	height: 380px;
	background: rgba(0,255,255,.5);
}
#paragrhap ul h3{
	position: absolute;
	width: 890px;
	height: 20px;
	color: #c1c1c1;
	font-size: 12px;
	margin: 0px 5px;
	background: rgba(255,255,0,.5);
}
#paragrhap ul h1{
	position: absolute;
	width: 890px;
	height: 37px;
	color: #5c5c5c;
	font-size: 33px;
	font-weight: 100;
	margin: 35px 5px;
	background: rgba(255,0,255,.5);
}
#paragrhap ul p{
	position: absolute;
	width: 900px;
	height: 266px;
	font-size: 18px;
	top: 99px;
	left: 3px;
	background: rgba(200,255,200,.5);
}
/*=============================================
FOTOS
=============================================*/
#fotos{
	position: relative;
	margin: auto;
	width: 1200px;
	height: 2230px;
	background: rgba(290,290,100,.5);
}
#fotos ul{
	position: absolute;
	top: 0px;
	left: 150px;
	width: 899px;
	height: 2230px;
	background: rgba(100,300,299,.5);
}
#fotos ul li{
	position: relative;
	width: 899px;
	height: 676px;
	margin: 51px 0px;
	background: rgba(0,300,0,.5);
}
/*=============================================
TEXTU
=============================================*/
#textu{
	position: relative;
	margin: auto;
	width: 1200px;
	height: 345px;
	background: rgba(100,255,255,.5);
}
/*=============================================
REDES
=============================================*/
#redes{
	position: relative;
	margin: auto;
	width: 1200px;
	height: 123px;
	background: rgba(350,0,0,.5);
}
/*=============================================
BOTTOM
=============================================*/
#bottom{
	position: relative;
	margin: auto;
	width: 1200px;
	height: 434px;
	background: rgba(0,190,0,.5);
}
/*=============================================
COMENTARIOS
=============================================*/
#comentarios{
	position: relative;
	margin: auto;
	width: 1200px;
	height: 661px;
	background: rgba(0,0,190,.5);
}
/*=============================================
FOOTER
=============================================*/
footer{
	position: relative;
	margin: auto;
	width: 1200px;
	height: 99px;
	background: rgba(255,155,255,.5);
	/*background: #f3f3f3;*/
}
footer ul{
	position: relative;
	width: 202px;
	height: 20px;
	font-size: 16px;
	top: 37px;
	left: 150px;
}
footer ul#ti{
	position: absolute;
	width: 50px;
	height: 20px;
	top: 37px;
	left: 987px;

}
footer ul#inc{
	position: absolute;
	width: 188px;
	height: 20px;
	top: 37px;
	left: 969px;
}
footer ul#inc li{
	position: relative;
	float: left;
	width: 20px;
	height: 15px;
	left: 72px;
	margin: 1px 6px;
}
footer ul#inc li:first-child{background: url(../img/inc1.jpg);
	background-size: cover;
}
footer ul#inc li:nth-child(2){background: url(../img/inc2.jpg);
	background-size: cover;
}
footer ul#inc li:last-child{background: url(../img/inc3.jpg);
	background-size: cover;
}
footer ul#inc li a{float: left;
	width: 20px;
	height: 15px;
}