*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	font-family: ;
}
body{
	background: url(../img/background2.jpg);
	background-repeat: repeat;
}
/*=============================================
CABEZOTE
=============================================*/
#naveg{
	position: relative;
	margin: auto;
	width: 1200px;
	height: 134px;
}
#naveg header{
	position: relative;
	margin: auto;
	width: 1200px;
	height: 134px;
	background: #ffffff;
}
#logo{
	position: absolute;
	top: 69px;
	left: 67px;
	width: 123px;
	height: 22px;
}
/*=============================================
BARRA DE NAVEGACION
=============================================*/
#naveg nav ul{
	position: relative;
	top: -65px;
	left: 500px;
	width: 700px;
}
#naveg nav ul li{
	position: relative;
	float: left;
	text-align: center;
	margin: 2px 42px;
	font-size: 14px;
	color: #5e5e5e;
}
/*=============================================
SLIDE
=============================================*/
#slide{
	position: relative;
	margin: auto;
	width: 1200px;
	height: 576px;
	background: #ffffff;
}
#slide img{
	position: relative;
	top: 29px;
	left: 70px;
	width: 1061px;
	height: 509px;
}
/*=============================================
PARRAFO
=============================================*/
#paragrhap{
	position: relative;
	margin: auto;
	width: 1200px;
	height: 445px;
	background: #ffffff;	
}
#paragrhap article{
	position: absolute;
	width: 1200px;
	height: 445px;
}
#paragrhap article h3{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	margin: 56px 151px;
	color: #d8d7d5;
}
#paragrhap article h1{
	font-family: kepler-std-semicondensed-dis, serif;
	font-weight: 700;
	font-style: normal;
	font-size: 38px;
	margin: -40px 151px;
}
#paragrhap article p{
	font-family: kepler-std-semicondensed-dis, serif;
	font-weight: 700;
	font-style: normal;
	text-align: justify;
	font-size: 18px;
	margin: 68px 151px;
	color: #555555;
}
/*=============================================
FOTOS
=============================================*/
#fotos{
	position: relative;
	margin: auto;
	width: 1200px;
	height: 2230px;
}
#fotos ul li img{
	width: 899px;
	height: 676px;
	margin: 37px 150px;
}
/*=============================================
TEXTU
=============================================*/
#textu{
	position: relative;
	margin: auto;
	width: 1200px;
	height: 345px;
}
#textu article{
	position: absolute;
	width: 1200px;
	height: 345px;
}
#textu article p{
	font-family: kepler-std-semicondensed-dis, serif;
	font-weight: 700;
	font-style: normal;
	text-align: justify;
	font-size: 18px;
	margin: 5px 151px;
	color: #555555;
}
/*=============================================
REDES
=============================================*/
#redes{
	position: relative;
	margin: auto;
	width: 1200px;
	height: 123px;
}
#redes ul{
	position: absolute;
	top: 29px;
	left: 852px;
	width: 48px;
	height: 20px;
	font-size: 12px;
	text-align: center;
	color: #d8d7d5;
}
#redes ul#re{
	position: absolute;
	top: 29px;
	left: 900px;
	width: 160px;
	height: 20px;
}
#redes ul#re li{
	position: relative;
	float: left;
	width: 20px;
	height: 20px;
	left: 2px;
	margin: 0px 5px;
}
#redes ul#re li:first-child{background: url(../img/red1.jpg);
	background-size: cover;
}
#redes ul#re li:nth-child(2){background: url(../img/red2.jpg);
	background-size: cover;
}
#redes ul#re li:nth-child(3){background: url(../img/red3.jpg);
	background-size: cover;
}
#redes ul#re li:nth-child(4){background: url(../img/red4.jpg);
	background-size: cover;
}
#redes ul#re li:last-child{background: url(../img/red5.jpg);
	background-size: cover;
}
#redes ul#re li a{float: left;
	width: 20px;
	height: 20px;
}
/*=============================================
BOTTOM
=============================================*/
#bottom{
	position: relative;
	margin: auto;
	width: 1200px;
	height: 434px;
}
#bottom article{
	position: absolute;
	width: 936px;
	height: 434px;
}
#bottom article img{
	position: relative;
	float: left;
	left: 150px;
	margin-top: 34px;
	margin-right: 40px;
	width: 272px;
	height: 183px;
}
#bottom article h3{
	font-family: kepler-std-semicondensed-dis, serif;
	font-weight: 700;
	font-style: normal;
	text-align: justify;
	font-size: 17px;
	margin-left: 153px;
	margin-top: 66px;
	color: #d8d7d5;
}
#bottom article h1{
	font-family: kepler-std-semicondensed-dis, serif;
	font-weight: 700;
	font-style: normal;
	text-align: justify;
	position: relative;
	float: left;
	left: 90px;
	font-size: 24px; 
	margin: 18px 73px;
	color: #5d5d5d;
}
/*=============================================
COMENTARIOS
=============================================*/
#comentarios{
	position: relative;
	margin: auto;
	width: 1200px;
	height: 661px;
}
#comentarios article{
	position: absolute;
	width: 1057px;
	height: 661px;
}
#comentarios article h1{
	font-family: kepler-std-semicondensed-dis, serif;
	font-weight: 700;
	font-style: normal;
	font-size: 17px;
	margin-top: 64px;
	margin-left: 151px;
	color: #d8d7d5;
}
#comentarios article img{
	position: absolute;
	width: 70px;
	height: 71px;
	margin-left: 151px;
	margin-right: 30px;
}
#comentarios article h3{
	position: absolute;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	margin-left: 256px;
	color: #5e5e5e;
}
#comentarios article p{
	position: absolute;
	font-family: kepler-std-semicondensed-dis, serif;
	font-weight: 700;
	font-style: normal;
	text-align: justify;
	font-size: 15px;
	margin-left: 256px;
	color: #555555;
}
#comentarios article h4{
	position: absolute;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	margin-left: 256px;
	color: #d8d7d5;
}
#comentarios article form textarea{
	margin-left: 250px;
	border-radius: 5px;
	border-color: ;
	width: 795px;
	height: 71px;
	font-family: 'Source Sans Pro', sans-serif;
	color: #d8d7d5;
}
#comentarios article ul{
	position: absolute;
	top: 529px;
	left: 992px;
	width: 67px;
	height: 20px;
}
#comentarios article ul li{
	position: relative;
	float: left;
	width: 20px;
	height: 20px;
	margin: -0px 5px;
}
#comentarios article ul li a{
	float: left;
	width: 20px;
	height: 20px;
}
#comentarios article ul li:first-child{background: url(../img/red2.jpg);
	background-size: cover;
}
#comentarios article ul li:last-child{background: url(../img/facebook.jpg);
	background-size: cover;
}
#comentarios article h2{
	font-family: 'Source Sans Pro', sans-serif;
	margin-left: 852px;
	font-size: 15px;
	color: #d8d7d5;
}
/*=============================================
FOOTER
=============================================*/
footer{
	position: relative;
	margin: auto;
	width: 1200px;
	height: 99px;
	background: #f3f3f3;
}
footer ul{
	position: relative;
	width: 202px;
	height: 20px;
	font-size: 16px;
	top: 37px;
	left: 150px;
}
footer ul#ti{
	position: absolute;
	width: 50px;
	height: 20px;
	top: 37px;
	left: 987px;

}
footer ul#inc{
	position: absolute;
	width: 188px;
	height: 20px;
	top: 37px;
	left: 969px;
}
footer ul#inc li{
	position: relative;
	float: left;
	width: 20px;
	height: 15px;
	left: 72px;
	margin: 1px 6px;
}
footer ul#inc li:first-child{background: url(../img/inc1.jpg);
	background-size: cover;
}
footer ul#inc li:nth-child(2){background: url(../img/inc2.jpg);
	background-size: cover;
}
footer ul#inc li:last-child{background: url(../img/inc3.jpg);
	background-size: cover;
}
footer ul#inc li a{float: left;
	width: 20px;
	height: 15px;
}