*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	font-family: ;
}
body{
	background: url(../img/back3.jpg);
	background-position: top center;
	height: 1200px;
}
/*=============================================
CABEZOTE
=============================================*/
header{
	position: relative;
	margin: auto;
	width: 1200px;
	height: 134px;
	background: rgba(255,0,0,.5);
	/*background: #ffffff;*/
}
#logo{
	position: absolute;
	top: 69px;
	left: 67px;
	width: 123px;
	height: 22px;
	background: rgba(0,0,255,.5);
}
/*=============================================
BARRA DE NAVEGACION
=============================================*/
nav{
	position: relative;
	margin: auto;
	width: 1200px;
	height: 134px;
	background: rgba(0,255,0,.5);
}
nav ul{
	position: relative;
	top: 70px;
	left: 500px;
	width: 700px;
	height: 19px;
	background: rgba(300,0,0,.5);
}
nav ul li{
	position: relative;
	float: left;
	text-align: center;
	margin: 2px 42px;
	font-size: 14px;
}
/*=============================================
SLIDE
=============================================*/
#slide{
	position: relative;
	margin: auto;
	width: 1200px;
	height: 576px;
	background: rgba(0,0,300,.5);
	/*background: #ffffff;*/
}
#slide img{
	position: relative;
	top: 29px;
	left: 70px;
	width: 1061px;
	height: 509px;
}
/*=============================================
SECTION PRIN
=============================================*/
section{
	position: relative;
	margin: auto;
	width: 1200px;
	height: 2739px;
	background: rgba(155,155,255,.5);
}
/*===== SECPRIN ======*/
#secprin{
	position: absolute;
	width: 830px;
	height: 2739px;
	background: rgba(0,255,0,.5);
}
/*=====  PARAGRHAP ======*/
#paragrhap{
	width: 830px;
	height: 445px;
	background: rgba(100,100,0,.5);
	/*background: #ffffff;*/	
}
#paragrhap article{
	position: absolute;
	width: 830px;
	height: 445px;
}
#paragrhap article h3{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	margin: 56px 151px;
}
#paragrhap article h1{
	font-family: kepler-std-semicondensed-dis, serif;
	font-weight: 700;
	font-style: normal;
	font-size: 38px;
	margin: -40px 151px;
}
#paragrhap article p{
	font-family: kepler-std-semicondensed-dis, serif;
	font-weight: 700;
	font-style: normal;
	text-align: justify;
	font-size: 18px;
	margin-top: 67px;
	margin-left: 151px;
	margin-right: 64px;
}
/*===== FOTOS ======*/
#fotos{
	position: absolute;
	width: 830px;
	height: 1680px;
	top: 445px;
	background: rgba(290,290,100,.5);
}
#fotos ul li img{
	width: 661px;
	height: 494px;
	margin-top: 48px;
	margin-left: 150px;
}
/*===== TEXTU ======*/
#textu{
	position: absolute;
	width: 830px;
	height: 450px;
	top: 2125px;
	background: rgba(100,255,255,.5);
}
#textu article{
	position: absolute;
	width: 830px;
	height: 345px;
}
#textu article p{
	font-family: kepler-std-semicondensed-dis, serif;
	font-weight: 700;
	font-style: normal;
	text-align: justify;
	font-size: 18px;
	margin-top: 5px;
	margin-left: 151px;
	margin-right: 64px;
}
/*===== REDES ======*/
#redes{
	position: absolute;
	width: 830px;
	height: 164px;
	top: 2575px;
	background: rgba(350,0,0,.5);
}
#redes ul{
	position: absolute;
	top: 29px;
	left: 605px;
	width: 48px;
	height: 20px;
	font-size: 12px;
	text-align: center;
	background: rgba(200,200,0,.5);
}
#redes ul#re{
	position: absolute;
	top: 29px;
	left: 660px;
	width: 160px;
	height: 20px;
	background: rgba(100,55,240,.5);
}
#redes ul#re li{
	position: relative;
	float: left;
	width: 20px;
	height: 20px;
	left: 2px;
	margin: 0px 5px;
}
#redes ul#re li:first-child{background: url(../img/red1.jpg);
	background-size: cover;
}
#redes ul#re li:nth-child(2){background: url(../img/red2.jpg);
	background-size: cover;
}
#redes ul#re li:nth-child(3){background: url(../img/red3.jpg);
	background-size: cover;
}
#redes ul#re li:nth-child(4){background: url(../img/red4.jpg);
	background-size: cover;
}
#redes ul#re li:last-child{background: url(../img/red5.jpg);
	background-size: cover;
}
#redes ul#re li a{float: left;
	width: 20px;
	height: 20px;
}
/*=============================================
ASIDE
=============================================*/
aside{
	position: absolute;
	left: 830px;
	width: 370px;
	height: 2739px;
	background: rgba(255,0,0,.5);
}
aside img#as{
	margin-top: 60px;
	margin-left: 28px;
}
aside article{margin: 20px 24px;}
aside article h1{
	font-family: kepler-std-semicondensed-dis, serif;
	font-weight: 700;
	font-style: normal;
	font-size: 29px;
}
aside article p{
	font-family: kepler-std-semicondensed-dis, serif;
	font-weight: 700;
	font-style: normal;
	text-align: justify;
	font-size: 17px;
}
aside ul{
	width: 120px;
	height: 20px;
}
aside ul li{
	position: relative;
	float: left;
	width: 22px;
	height: 19px;
	left: 7px;
	margin: 5px 6px;
}
aside ul li:first-child{background: url(../img/inc1.jpg);
	background-size: cover;
}
aside ul li:nth-child(2){background: url(../img/inc3.jpg);
	background-size: cover;
}
aside ul li:last-child{background: url(../img/red5.jpg);
	background-size: cover;
}
aside ul li a{float: left;
	width: 20px;
	height: 20px;
}
aside h2{
	margin-top: 74px;
	margin-left: 28px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
}
aside ol{
	margin-top: 31px;
	margin-left: 56px;
	font-size: 15px;
}
aside ol li{list-style-type: disc;}
aside img#ofer{
	margin-top: 50px;
	margin-left: 29px;
}
/*=============================================
BOTTOM
=============================================*/
#bottom{
	position: relative;
	margin: auto;
	width: 1200px;
	height: 434px;
	background: rgba(0,190,0,.5);
}
#bottom article{
	position: absolute;
	width: 936px;
	height: 434px;
}
#bottom article img{
	position: relative;
	float: left;
	left: 150px;
	margin-top: 34px;
	margin-right: 40px;
	width: 272px;
	height: 183px;
}
#bottom article h3{
	font-family: kepler-std-semicondensed-dis, serif;
	font-weight: 700;
	font-style: normal;
	text-align: justify;
	font-size: 17px;
	margin-left: 153px;
	margin-top: 66px;
}
#bottom article h1{
	font-family: kepler-std-semicondensed-dis, serif;
	font-weight: 700;
	font-style: normal;
	text-align: justify;
	position: relative;
	float: left;
	left: 90px;
	font-size: 24px; 
	margin: 18px 73px;
}
/*=============================================
COMENTARIOS
=============================================*/
#comentarios{
	position: relative;
	margin: auto;
	width: 1200px;
	height: 649px;
	background: rgba(0,0,190,.5);
}
#comentarios article{
	position: absolute;
	width: 1057px;
	height: 649px;
}
#comentarios article h1{
	font-family: kepler-std-semicondensed-dis, serif;
	font-weight: 700;
	font-style: normal;
	font-size: 17px;
	margin-top: 64px;
	margin-left: 151px;
}
#comentarios article img{
	position: absolute;
	width: 70px;
	height: 71px;
	margin-left: 151px;
	margin-right: 30px;
}
#comentarios article h3{
	position: absolute;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	margin-left: 256px;
}
#comentarios article p{
	position: absolute;
	font-family: kepler-std-semicondensed-dis, serif;
	font-weight: 700;
	font-style: normal;
	text-align: justify;
	font-size: 15px;
	margin-left: 256px;
}
#comentarios article h4{
	position: absolute;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	margin-left: 256px;
}
#comentarios article form textarea{
	margin-left: 250px;
	border-radius: 5px;
	border-color: ;
	width: 795px;
	height: 71px;
}
#comentarios article ul{
	position: absolute;
	top: 529px;
	left: 992px;
	width: 67px;
	height: 20px;
}
#comentarios article ul li{
	position: relative;
	float: left;
	width: 20px;
	height: 20px;
	margin: -0px 5px;
}
#comentarios article ul li a{
	float: left;
	width: 20px;
	height: 20px;
}
#comentarios article ul li:first-child{background: url(../img/red2.jpg);
	background-size: cover;
}
#comentarios article ul li:last-child{background: url(../img/facebook.jpg);
	background-size: cover;
}
#comentarios article h2{
	font-family: 'Source Sans Pro', sans-serif;
	margin-left: 852px;
	font-size: 15px;
}
/*=============================================
FOOTER
=============================================*/
footer{
	position: relative;
	margin: auto;
	width: 1200px;
	height: 95px;
	background: rgba(255,155,255,.5);
	/*background: #f3f3f3;*/
}
footer ul{
	position: relative;
	width: 202px;
	height: 20px;
	font-size: 16px;
	top: 37px;
	left: 150px;
}
footer ul#ti{
	position: absolute;
	width: 50px;
	height: 20px;
	top: 37px;
	left: 987px;
}
footer ul#inc{
	position: absolute;
	width: 188px;
	height: 20px;
	top: 37px;
	left: 969px;
}
footer ul#inc li{
	position: relative;
	float: left;
	width: 20px;
	height: 15px;
	left: 72px;
	margin: 1px 6px;
}
footer ul#inc li:first-child{background: url(../img/inc1.jpg);
	background-size: cover;
}
footer ul#inc li:nth-child(2){background: url(../img/inc2.jpg);
	background-size: cover;
}
footer ul#inc li:last-child{background: url(../img/inc3.jpg);
	background-size: cover;
}
footer ul#inc li a{float: left;
	width: 20px;
	height: 15px;
}